.builder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  width: 100%;
  max-width: 720px;
  box-sizing: border-box;
  background-color: grey;
  overflow: hidden;
}
